# Ignoring the intermediate files
*.o

# Ignoring the output directory
build/

# Ignoring the Tooling directories
.vscode/

#################### TODO ####################
# A detailed list of files needs to be added 
# for ignoring in commits.
