# Ignoring the build files
*.o
orchestra

# Ignoring the build directory
build/

# Ignoring the Tooling directories
.vscode/

#################### TODO ####################
# A detailed list of files needs to be added 
# for ignoring in commits.
